input, input:focus, textarea:focus, select:focus{
    outline: none;
    border: none;
}

.input-outlined {
    position: relative;
    display: inline-block;
    transition: all .2s linear;
    padding: 6px;
    margin: 10px;
    border: 2px solid var(--foreground);
    border-radius: 5px;
}

.input-outlined-hover {
    display: inline-block;
    border: 2px solid var(--primary);
    transition: all .2s linear;
    border-radius: 5px;
}

.input-outlined-active {
    display: inline-block;
    border: 2px solid var(--primary);
    transition: all .2s linear;
    border-radius: 5px;
}

.input-outlined .invalid {
    display: inline-block;
    border: 2px solid var(--error);
    border-radius: 5px;
}

.input-outlined>label {
    position: absolute;    
    transition: all .2s linear;
    color: var(--foreground);
    top: 8px;
    left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--background);
}

.input-outlined-hover>label {
    position: absolute;
    transition: all .2s linear;
    top: -10px;
    left: 10px;
    color: var(--primary);
    background-color: var(--background);
}

.input-outlined-active>label {
    position: absolute;
    top: -10px;
    left: 10px;
    transition: all .2s linear;
    color: var(--primary);
    background-color: var(--background);
}

.input-outlined-has-value>label {
    position: absolute;
    top: -10px;
    background-color: var(--background);
}