input, input:focus, textarea:focus, select:focus{
    outline: none;
    border: none;
}

.input-outlined {
    position: relative;
    display: inline-block;
    transition: all .2s linear;
    padding: 6px;
    margin: 10px;
    border: 2px solid rgb(var(--foreground));
    border-radius: 5px;
}

.input-outlined-hover {
    display: inline-block;
    border: 2px solid rgb(var(--analogous-1));
    transition: all .2s linear;
    border-radius: 5px;
}

.input-outlined-active {
    display: inline-block;
    border: 2px solid rgb(var(--primary));
    transition: all .2s linear;
    border-radius: 5px;
}

.input-outlined-invalid {
    display: inline-block;
    border: 2px solid rgb(var(--error));
    border-radius: 5px;
}

.input-outlined>label {
    pointer-events: none;
    position: absolute;    
    transition: all .2s linear;
    color: rgb(var(--foreground));
    top: 8px;
    left: 10px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(var(--background));
}

.input-outlined-hover>label {
    pointer-events: none;
    position: absolute;
    transition: all .2s linear;
    top: -10px;
    left: 10px;
    color: rgb(var(--analogous-1));
    background-color: rgb(var(--background));
}

.input-outlined-active>label {
    pointer-events: none;
    position: absolute;
    top: -10px;
    left: 10px;
    transition: all .2s linear;
    color: rgb(var(--primary));
    background-color: rgb(var(--background));
}

.input-outlined-has-value>label {
    pointer-events: none;
    position: absolute;
    top: -10px;
    background-color: rgb(var(--background));
}

.input-outlined-invalid>label {
    pointer-events: none;
    position: absolute;
    top: -10px;
    color: rgb(var(--error));
    background-color: rgb(var(--background));
}